venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.so

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# Log files
*.log

# Environment files
.env